<launch>

  <arg name="node"		default="aist_lenti_mark"/>
  <arg name="cam_param_file"	default=""/>
  <arg name="mk_param_file"
       default="$(dirname)/../config/MarkerParams/markerPara.yml"/>
  <arg name="image_topic"	default="/camera/image_raw"/>
  <arg name="manager"		default=""/>

  <arg if="$(eval manager == '')"	name="command"	value="standalone"/>
  <arg unless="$(eval manager == '')"	name="command"	value="load"/>

  <node name="$(arg node)" pkg="nodelet" type="nodelet" output="screen"
  	args="$(arg command) aist_lenti_mark/$(arg node) $(arg manager)">
    <rosparam file="$(dirname)/../config/$(arg node).yaml"/>
    <param name="cam_param_file"	value="$(arg cam_param_file)"/>
    <param name="mk_param_file"		value="$(arg mk_param_file)"/>

    <remap from="/image"		to="$(arg image_topic)"/>
  </node>

</launch>
